.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
  display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #e1e8ee;
    margin: 10px;
    border: 1px solid #aaadaf;
    background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(248, 192, 39)),
        color-stop(1, rgb(170, 127, 35))
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    /* -webkit-box-shadow: 0px 6px 0px #ca8427, 0px 3px 15px rgba(146, 27, 27, 0.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5); */
    /* -moz-box-shadow: 0px 6px 0px #c8d5df, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5); */
    box-shadow: 0px 6px 0px #98a1a8, 0px 3px 15px rgba(154, 226, 164, 0.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.cell:active {
  background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
 
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(233, 190, 72)),
      color-stop(1, rgb(245, 228, 184))
  );
 }
 

 /* Board */
 .board-row:after {
  clear: both;
  content: "";
  display: table;
 }
 /* Game */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  flex-direction: row;
  margin: 0 auto;  
 }
 /* Game Info */

 .game-info {
  margin-bottom: 10%;
  margin-left: 37%;
  font-size: x-large;

 }
 button {
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
  border: none;
  color: white;
  background-color: rgba(24, 121, 32, 0.911) ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-left: 33%;
  margin-top: 10%;
} 
button:hover {
  opacity: 90%;
}
